

body {
    background:#528aae;
}

a {
    text-decoration: none;
    color: #3c5c2a;
}


footer {
    font-size: x-large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2e5984;
}

h1, h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1e3f66;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#083b5e;
}

ol {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#083b5e;
}
