
body {
    background:burlywood;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.assignment {
    display: flex;
    padding:10px;
    margin:10px;
    background:purple;
}
.assignment img{
    width: 200px;
    padding: 10px;
}

h1 {
    color:midnightblue;
}

h2 {
    color:midnightblue;
}