:root {
    --primary: rgb(236, 29, 29);
    --secondary: rgb(126, 20, 20);
    --nav-text: #415058;
    --all-text: white;
    --num: 15%;
    --font-fam: monospace;
}
/* Structure */

body {
    background-color: white;
}

#logo {
    width: 300px;
    height: 100px;
}

.header-container {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Typography */

h1 {
    color: var(--all-text);
    font-family: var(--font-fam);
    font-size: xxx-large;
    text-align: center;
    margin: 0;
}

h2 {
    color: var(--all-text);
    font-family: var(--font-fam);
    font-size: x-large;
    text-align: center;

}

h3 {
    font-family: var(--font-fam);
    font-size: large;
    text-align: center;
    color: var(--all-text);
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

#main-nav a {
    text-decoration: none;
    color: var(--all-text);
}

#main-nav li {
    padding: 5px;
    display: inline;
    margin-right: 20px;
    font-size: large;
    font-family: var(--font-fam);
    font-weight:bold;
}

#nav-items li:hover {
    background: linear-gradient( red, white);
    border: 0.5px solid var(--nav-text);
}
#main-header a:hover {
    color: var(--nav-text);
}

.main-columns {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 10px;
    border: 2px solid var(--all-text);
    height: 650px;
}

/*Rating Side */

.rating-bg {
    background: radial-gradient(circle, red, white);
    /*background: radial-gradient(circle, #FF5733, #6E45E2);*/
    border: 2px solid var(--primary)
}

.rating-info {
    background-color: var(--primary);
    height: 550px;
    border: 2px solid white;
}

#ferrari {
    height: 100px;
    width: 300px;
    padding-left: 60px;
}

.info {
    font-family: var(--font-fam);
    font-size: large;
    padding-left: 10px;

}

.info {
    font-family: var(--font-fam);
    font-size: large;
    padding-left: 10px;
    color: var(--all-text);
    font-weight: bold;
}

.info label {
    text-align: center;
    display: inline-block;
    width: 150px;
}

.add-rating{
    position: relative;
    left: 170px;
}

/* Main Content Stuff */

.main-content {
    background-color: var(--primary);
    position: relative;
}

#main-pic {
    position: relative;
    left: 175px;
    top: 6px;
    border: 2px solid var(--secondary) ;
    border-radius: 5px;
}

.all-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columns {
    padding: 5px;
    align-items: center;
    flex: 1;
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin-left: 20px;
}

.small-box {
    width: 260px;
    height: 260px;
    background-color: var(--secondary);
    border-radius: 3px;
    border: 2px solid black;
}


#track-pic {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
}

/* About */

.about-content {
    display: flex;
    align-items: center;
    margin: 10px;
}

.about-image {
    border: 2px solid var(--secondary);
    border-radius: 4px;
    margin-right: 10px;
}
   

.text {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.text h3 {
    font-size: 30px;
    margin-top: 0;
}

h3 {
    align-self: flex-start;
}

/* Drivers */

.white-bg-box, .white-bg-box2, .white-bg-box3{
    background-color: var(--all-text);
    width: 800px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 8px; /* Add padding to separate the content from the border */
    position: relative;
    margin: 10px;
}

.white-bg-box {
    top: 10px;
}

.white-bg-box3{
    bottom: 10px;
}

.driver-content {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.driver-box {
    display: flex;
    align-items: center; /* Vertically center content within driver-box */
}

.drivers {
    flex: 1; /* Take up all available horizontal space */
    margin-right: 10px; /* Add space between the image and text */
}

.about-driver {
    flex: 2; /* Take up twice the horizontal space compared to driver-pic */
}

.driver-pic {
    max-width: 100%;
    height: auto;
}

.driver-name {
    color:black;
    font-size: 20px;
}

.driver-info {
    font-family: var(--font-fam);
    font-size: 16px;
}

.black-text {
    color: black; 
}

.red-info {
    color: var(--primary);
}

/* Teams */

.teams-img-table {
    border-collapse: collapse; /* Merge cell borders */
    width: 100%; /* Table takes up full width of its container */
}

.teams-img-table img {
    border: 2px solid #d3d3d3; /* Add a border with 2px width and gray color */
    border-radius: 2px; /* Apply a border radius of 2px */
    padding: 5px; /* Add padding around each image */
}




@media only screen and (min-width: 768px) {
    .hidden {
        display: none;
    }
}

